<div>
    <div class="row justify-content-between">
        <div class="col-6 mb-2">
            <%= form_with model: Stock, local: true, class: "form-inline float-left" do |form| %>
                <div>
                    <%= form.text_field :symbol, placeholder: "Submit Symbol", class: "form-control mr-2" %>
                </div>
                <%= form.submit "Submit", class: "btn btn-primary" %>
            <% end %>
        </div>
        <div class="col-6 mt-3">
            <fieldset class="float-right">
                <input type="radio" id="select-submitted" class="list-select" name="list-select", value="submitted" checked>
                <label for="select-mostactive" class="mr-2">Submitted</label>
                <input type="radio" id="select-mostactive" class="list-select" name="list-select" value="mostactive">
                <label for="select-mostactive" class="mr-2">Most Active</label>
                <input type="radio" id="select-gainers" class="list-select" name="list-select" value="gainers">
                <label for="select-gainers" class="mr-2">Gainers</label>
                <input type="radio" id="select-losers" class="list-select" name="list-select" value="losers">
                <label for="select-losers" class="mr-2">Losers</label>
                <input type="radio" id="select-iexvolume" class="list-select" name="list-select" value="iexvolume">
                <label for="select-iexvolume" class="mr-2">IEX Volume</label>
                <input type="radio" id="select-iexpercent" class="list-select" name="list-select" value="iexpercent">
                <label for="select-iexpercent" class="mr-2">IEX Percent</label>
            </fieldset>
        </div>
    </div>
    <div>
        <table class="table">
            <thead id="stock-list-head" class="thead-light">
                <tr>
                    <th scope="col">Symbol</th>
                    <%# <th scope="col">Company Name</th>
                    <th scope="col">Open</th>
                    <th scope="col">Close</th>
                    <th scope="col">High</th>
                    <th scope="col">Low</th> %>
                </tr>
            </thead>
            <tbody id="stock-list-body">
                <% stocks.each do |stock| %>
                    <tr>
                        <td><%= link_to stock.symbol, stock_path(stock) %></td>
                        <!-- <td><%= link_to stock["symbol"], info_stocks_path(symbol: stock["symbol"]) %></td> -->
                        <!-- <td><%= stock["companyName"] %></td>
                        <td><%= stock["open"] ? "$#{stock["open"]}" : "No Data" %></td>
                        <td><%= stock["close"] ? "$#{stock["close"]}" : "No Data" %></td>
                        <td><%= stock["high"] ? "$#{stock["high"]}" : "No Data" %></td>
                        <td><%= stock["low"] ? "$#{stock["low"]}" : "No Data" %></td> -->
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
