<%= link_to "Stocks Index", root_path %>
<div class="row">
    <div class="col-4 bg-light">
        <div class="container-fluid"> 
            <br>
            <div>
                <h2>
                    <%= @stock_data[:info][:company].company_name %>
                </h2>
                <br>
                <p>
                    <strong>Symbol:</strong>
                    <%= @stock_data[:info][:company].symbol %>
                </p>
                <p>
                    <strong>Exchange:</strong>
                    <%= @stock_data[:info][:company].exchange %>
                </p>
                <p>
                    <strong>Industry:</strong>
                    <%= @stock_data[:info][:company].industry %>
                </p>
                <p>
                    <strong>CEO:</strong>
                    <%= @stock_data[:info][:company].ceo %>
                </p>
                <p>
                    <strong>Issue type:</strong>
                    <%= @stock_data[:info][:company].issue_type %>
                </p>
                <p>
                    <strong>Sector:</strong>
                    <%= @stock_data[:info][:company].sector %>
                </p>
                <p>
                    <strong>Website:</strong>
                    <%= link_to @stock_data[:info][:company].website, @stock_data[:info][:company].website, target: "_blank" %>
                </p>
                <br>
                <p>
                    <%= @stock_data[:info][:company].description %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="container-fluid">
            <%= line_chart @stock_data[:sma_chart][:data], xtitle: "Simple Moving Average", prefix: "$", min: @stock_data[:sma_chart][:graph_min], max: @stock_data[:sma_chart][:graph_max] %>
            <br>
            <%= line_chart @stock_data[:ema_chart][:data], xtitle: "Exponential Moving Average", prefix: "$", min: @stock_data[:ema_chart][:graph_min], max: @stock_data[:ema_chart][:graph_max] %>
            <br>
            <div>
                <label for="last-thirty-days" class="mr-2">Last Thirty Days</label>
                <table class="table" id="last-thirty-days">
                    <thead id="chart-head" class="thead-light">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Open</th>
                            <th scope="col">Close</th>
                            <th scope="col">High</th>
                            <th scope="col">Low</th>
                            <th scope="col">Volume</th>
                            <th scope="col">10 Day SMA</th>
                            <th scope="col">10 Day EMA</th>
                        </tr>
                    </thead>
                    <tbody id="stock-list-body">
                        <% @stock_data[:last_thirty].each_with_index do |datapoint, i| %>
                            <tr>
                                <td><%= datapoint.date %></td>
                                <td>$<%= datapoint.open %></td>
                                <td>$<%= datapoint.close %></td>
                                <td>$<%= datapoint.high %></td>
                                <td>$<%= datapoint.low %></td>
                                <td><%= datapoint.volume %></td>
                                <td>$<%= @stock_data[:smas][i] %>
                                <td>$<%= @stock_data[:emas][i] %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div>